beautifulsoup4
customtkinter
dateparser
deep-translator
edge-tts
google-api-python-client
google-auth
google-auth-oauthlib
google-genai
mistralai
Pillow
PyAudio
PyAutoGUI
pygame
pyttsx3
pywhatkit
python-dotenv
requests
SpeechRecognition
wikipedia
winshell; sys_platform == "win32"
pywin32; sys_platform == "win32"